@media only screen and (max-width: 450px) {
    .mainDiv__child {
        width: 95%;
        padding: 10%;
    }
}

@media only screen and (min-width: 451px) and (max-width: 960px) {
    .mainDiv__child {
        width: 70%;
        padding: 5%;
    }
}

@media only screen and (min-width: 961px) {
    .mainDiv__child {
        width: 40%;
        padding: 3%;
    }
}

.mainDiv {
    width: 100%;
    height: auto;
}

.errorMessage {
    font-size: small;
}
